*{
    margin: 0px;
    padding: 0px;
}
hr{
    width: 90%;
    background-color:#273852;
    margin-left: 5%;
    margin-top: 20px;
}

.nav{
    background-color: #273852;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newblog{
    border: 2px solid red;
    background:white;
    height: 50%;
    color: #273852;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    width: 200px;
    text-transform: uppercase;
}

.newblog > p{
   
    background:white;
    font-size: 13px;
    width: 200px;
    
    font-weight: bold;
    text-transform: uppercase;
}

.row{

    display: flex;
    height: 100px;
    justify-content: space-between;
    flex-wrap: wrap;

}

.category{
    position: relative;
    
    top:26px;
    left:40px;
}
label{
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

select{
    padding: 11px;
    width: 21em;
    border-radius: 2px;
    border: 1px solid gray;
}

.title{
    color: #273852;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 52px;

}

.subscribe{
    position: relative;    
    right: 45px;
    top: 35px;
    
}
.subscribe>input{
    padding: 10px;
    width: 15em;
}


.subscribe>button{
    padding: 11px;
    width: 7em;
    
    background-color: black;
    color: white;
    border: none;
}


img{
    background:none;
    height: 150px;
    width: 13%;
    background-color: gray;
}
.blogDetails{
    margin-left: 30px;
    width: 90%;
}
.blogDetails> div{
    width: 1000px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.blogDetails>h1{
    font-size: 25px;
    color:#273852;
}
.hr{
   
    height: 1px;
    background-color: rgb(192, 192, 192);
    width: 90%;
    margin-left: 5%;
    margin-top: 15px;

}

.blogDetails> button{
   border: none;
   padding: 10px;
   background-color: #d55f44;
   color:white;
   margin-top: 12px;
}

.blogRowSingle{
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
    margin-top: 2%;
}




.footer{
    background-color: #273852;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.blogRow{
    margin-top: 50px;
    margin-bottom: 5em;
}




/* Responsive design code*/



@media only screen and (min-width:772px) and (max-width:1010px)
{
   
    hr{
        margin-top: 10%;
        
        
    }
    .subscribe>input{
        
        width: 15em;
    }
    
    
    .subscribe>button{
        padding: 11px;
        width: 16.8em;
        display: block;
        
        background-color: black;
        color: white;
        border: none;
    }
   
   
}

@media only screen and (min-width:375px) and (max-width: 768px) {
    
    .row{
       
        height: 30%;
        align-items: center;
        justify-content: center;
    }
    .category{
        top: 10;
        left: -5px;
    }

    .subscribe{
        position: relative;
        right: 45px;
        top: 30px;
        
    }
    
    .subscribe>input{
        padding: 10px;
        width: 18em;
    }
    select{
        padding: 11px;
        width: 27em;
        border-radius: 2px;
        border: 1px solid gray;
    }
    
    .subscribe>button{
        padding: 11px;
        width: 8em;
       
        
        background-color: black;
        color: white;
        border: none;
    }
    .title{
        top: 3em;
        order: 2;
       
    }
    .subscribe{
        top: 4em;
        left: 0;
    }
    
     

    .blogRow{
        margin-top: 30px;
    }

    hr{
        margin-top: 25%;
    }
    img{
        width: 50%;
        align-self: center;
    }
    .blogRowSingle{
        flex-direction: column;
        margin-top: 25px;
    }
    .blogDetails{
     margin-top: 2em;
    }
    .blogDetails> div{
        margin-top: 10px;
        width: 100%;
    }

    .blogDetails>span{
        display: inline-block;
        margin-top: 10px;
       
    }
}



@media only screen and (min-width:280px) and (max-width:376px)
{
    
    .row{
    
      
        height:30%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    body,html{
        min-width: 100%;
        overflow-x: hidden;
    }
    
    hr{
        margin-top: 30%;
    }

    .category{
        top: 10;
        left: -11px;
    }

    .title{
        top: 3em;
        order: 2;
       
    }
    .subscribe{
        top: 4em;
        left: 11px;
    }


    img{
        width: 50%;
        align-self: center;
    }
    .blogDetails> div{
        margin-top: 10px;
        width: 100%;
    }
    span{
        display: inline-block;
        margin-top: 10px;
    }

    .blogDetails{
        margin-top: 2em;
       }

    .blogRowSingle{
        flex-direction: column;
        margin-top: 25px;
    }

    .blogRow{
        margin-top: 30px;

    }
   
}

@media only screen and (max-width:280px)
{
    
    .row{
    
      
        height:30%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    body,html{
        min-width: 100%;
        overflow-x: hidden;
    }
    
    hr{
        margin-top: 35%;
    }

    .category{
        top: 10;
        left: 0px;
       
       
        
    }
    select{
        width: 20em;
    }

    .title{
        top: 3em;
        order: 2;
       
    }
    .subscribe>input{
        width: 18em;
    }
    .subscribe{
        top: 4em;
        left: px;
    }
    .subscribe>button{
        width: 19.8em;
    }


    img{
        width: 80%;
        align-self: center;
    }
    .blogDetails> div{
        margin-top: 10px;
        width: 95%;
       
    }
    span{
        display: inline-block;
        margin-top: 10px;
    }

    .blogDetails{
        margin-top: 2em;
       }

    .blogRowSingle{
        flex-direction: column;
        margin-top: 25px;
    }

    .blogRow{
        margin-top: 30px;

    }
   
}



@media only screen and (min-width:531px)  and (max-width:810px)
{
   
    .row{
       
       
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .title{
        top: 100px;
        font-size: 45px;
    }
    
    
    select{
        width: 37em;
    }
    .subscribe>input{
        
        width: 25em;
    }
    
    
    .subscribe>button{
        padding: 11px;
        width: 11em;
       
        background-color: black;
        color: white;
        border: none;
    }

    .blogRow{
        margin-top: 30px;
    }

    hr{
        margin-top: 25%;
    }
   
   
}



@media only screen and (min-width:810px) 
{
    html,body{
       
        min-width: 100%;
        overflow-x: hidden;
        
    }
    .blogDetails>div{
        width: 80%;
    }
    .subscribe{
        top:28px;
    }

    
}



@media only screen and (min-width:601px) and (max-width:768px){
    html,body{
       
        min-width: 100%;
        overflow-x: hidden;
        
    }
    
}
